* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

.header {
  height: 6rem;
  background-color: #222;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  border: 1px solid #2a9d8f;
  background-color: #2a9d8f;
  padding: 2rem;
  margin-top: 1rem;
  margin: 1rem;
}
.title-form {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.form input {
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.46rem;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #222;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  padding: 7px;
  font-size: 1em;
  transition: 0.3s ease;
  display: inline-block;
  outline: none;
  color: white;
  border: 0.1px #222 solid;
  box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.6);
}

.button:hover {
  padding: 9px;
}

/* ****************tareas************** */

.cabecera {
  background-color: #333;
  color: #fff;
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 50px 100px;
  justify-content: center;
  overflow: hidden;
}

.cabecera div {
  border: 1px solid #333;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
}

.tarea {
  border: 1px solid black;
  padding: 0.5rem;
  margin-top: 1rem;
  margin: 1rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 50px 70px;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: #2a9d8f;
}

.tarea-estado {
  width: 100%;
  align-self: center;
  justify-self: flex-end;
}

button {
}

.rojo {
  background-color: #ef233c;
}
.none {
  display: none;
}
.filterr {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  order: 1;
}

.filter {
  display: block;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  outline: none;
  padding: 10px;
  overflow: hidden;
  border: none;
  border-radius: 3px;
  border-bottom: 3px solid #888;
}
.filter:hover {
  border-bottom: 4px solid #888;
}
.mensaje {
  margin-top: 10px;
  border: 1px solid #7400b8;
  background-color: #7400b8;
  padding: 1rem;
  text-align: center;
  color: white;
  font-weight: 900;
  font-size: 2rem;
}

@media screen and (min-width: 760px) {
  .container {
    display: grid;
    grid-template-columns: 400px 1fr;
  }
}
